
@model DomainLayer.AdminSettings.About
@{
    ViewData["Title"] = "Contact";
}

<div class="row container-fluid pr-6">
    <div class="container-fluid mt-3 align-middle">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="">
                    <section class=" flex-fill">
                        <div class=" text-center">

                            <h2>About</h2>
                        </div>
                        <div class="text-center">
                            <p> @Model.content</p>

                        </div>
                        @if (((System.Security.Claims.ClaimsIdentity)User.Identity).HasClaim("role", "Admin"))
                        {
                            <div class=" text-center">
                                <div class="form-group">
                                    <a asp-controller="Settings" asp-action="EditAbout" class="btn btn-primary">Edit</a>
                                </div>
                            </div>
                        }
                        <a type="button" class="btn btn-primary" style="padding-left: 1%; padding-right: 1%; margin-left: 81%; margin-top: 15px; " asp-controller="user" asp-action="index">Back</a>&nbsp;

                        <style>
                            .About {
                                margin-left: 300px;
                            }
                        </style>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
